body {
    background-color: rgba(255, 200, 0,0.1);
}

h1 {
    text-decoration: underline;
    font-size: 10vw;
}

a {
    text-decoration: none;
    color: white;
}

.linkWrapper {
    width: 50vw;
}

.choiceBox {
    width: 50vw;
    height: 15vh;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 4vw;
}

.choiceBox:hover {
    background-color: #333;
}

.creds {
    position: absolute;
    bottom: 2px;
}

table {
    width: 80%;
    height: 20%
}

.evenRow, .oddRow {
    font-size: 2vw;
}

.evenRow {
    background-color: rgba(0, 0, 0, 0.2);
}

.oddRow {
    background-color: rgba(0, 0, 0, 0.1)
}

.tableHead {
    background-color: #444;
    font-size: 3vw;
}

th {
    color: white;
}

.back {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 20;
    background-color: #444;
    padding: 5px;
}

.back:hover {
    background-color: #C44;
}